@{
    ViewBag.Title = "Index";
    Layout = null;
    
}
<html ng-app="painterapp">
<header>
    <link href="~/Content/css/ie.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.fancybox-1.3.4.css" rel="stylesheet" />
    <link href="~/Content/css/reset.css" rel="stylesheet" />
    <link href="~/Content/css/skin-2.css" rel="stylesheet" />
    <link href="~/Content/css/skin.css" rel="stylesheet" />
    <link href="~/Content/css/slider.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/tabs.css" rel="stylesheet" />
</header>

<body>
    <input type="hidden" value="0" ng-model="pagenum" copy-hidden />
    <input type="hidden" value="@ViewBag.Lang" ng-model="lang" copy-hidden/>
    <div class="header" ng-controller="HomeController">
        <div>
            <div class="nav">
                <nav>
                    <ul class="menu">
                        <li ng-repeat="link in links" class="{{link.ClassName}}">
                            <a href="{{link.LinkTo}}" ng-bind="link.LinkText"></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <header>
                <h1><a href="index.html">
                    <img src="/Content/images/logo.png" alt=""></a></h1>
            </header>
            <div id="slide">
                <div class="slider">
                    <ul class="items">
                        <li ng-repeat="img in sliders">
                            <img src="{{img.imgSrc}}" />
                        </li>
                    </ul>
                </div>
                <ul class="pags">
                    <li ng-repeat="num in pageNums">
                        <a href="#"><strong>0</strong>{{num.number}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--==============================content================================-->
    <section id="content">
        <div class="gallery-block">
        </div>
        <div class="page1-row1 pad-1">
            <div class="col-1">
                <h3 class="h3 p2">Workshops</h3>
                <ul class="list-1">
                    <li><a href="#">October 14, 2013 – 
October 18, 2013 (All Day)
USA: GREENVILLE, NY (Fully Booked)
                    </a></li>
                    <li><a href="#">October 14, 2013 – 
October 18, 2013 (All Day)
USA: GREENVILLE, NY (Fully Booked)</a></li>
                    
                </ul>
            </div>
            <div class="col-2">
                <h2 class="h2 p2">Shortly about me:</h2>
                <p>The PSD source files of this <a href="" class="link" target="_blank" rel="nofollow">Paris Clarks</a> template are available for free for the registered members of TemplateMonster.com.</p>

                <a href="#" class="link-1 link-1-pad bot-1">Read more</a>
                <div class="clear"></div>
            </div>
        </div>
    </section>
    <!--==============================footer=================================-->
    <footer>
        <span><strong></strong></span>
        <div class="footer-content">
            <div class="soc-icons">
                <a href="#">
                    <img src="/Content/images/icon-1.png" alt=""></a>
                <a href="#">
                    <img src="/Content/images/icon-2.png" alt=""></a>
                <a href="#">
                    <img src="/Content/images/icon-3.png" alt=""></a>
            </div>
        </div>
    </footer>

    <script src="/Scripts/site/js/jquery-1.7.min.js"></script>
    <script src="/Scripts/site/js/jquery.easing.1.3.js"></script>
    <script src="/Scripts/site/js/tms-0.4.1.js"></script>
    <script src="/Scripts/site/js/jquery.jcarousel.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/Apps/painterapp.js"></script>
    <script src="~/Scripts/Services/HomeService.js"></script>
    <script src="~/Scripts/Controllers/HomeController.js"></script>
    <script>
        $(document).ready(function () {
            $('.slider')._TMS({
                show: 0,
                pauseOnHover: false,
                prevBu: false,
                nextBu: false,
                playBu: false,
                duration: 700,
                preset: 'fade',
                pagination: '.pags',
                pagNums: false,
                slideshow: 7000,
                numStatus: false,
                banners: false,// fromLeft, fromRight, fromTop, fromBottom
                waitBannerAnimation: false,
                progressBar: false
            });
            jQuery('#mycarousel').jcarousel({
                horisontal: true,
                wrap: 'circular',
                scroll: 1,
                easing: 'easeInOutBack',
                animation: 1200
            });
        });
    </script>
</body>
</html>
