 .bar-gallery {
            background: black;
            width: 100%;
            height: 100%;
        }

            .bar-gallery .mainImage {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            .bar-gallery .selected {
                border-color: gray;
                border-style: outset;
                border-width: 3px;
            }

        .thumpImages ul {
            overflow-x: hidden;
            white-space: nowrap;
        }

        .bar-gallery .thumpImages li {
            display: inline-block;
            *display: inline;
            zoom: 1;
            padding-right: 10px;
        }

        .bar-gallery .thumpImages .scrollBack {
            position: absolute;
            float: left;
            display: inline-block;
        }

        .bar-gallery .thumpImages .scrollForward {
            float: right;
            display: inline-block;
        }

        .bar-gallery .thumpImages input {
            height: 60px;
            width: 20px;
            text-align: left;
        }

        .bar-gallery .thumpImages {
            width: 100%;
        }