/* Global properties ======================================================== */
html, body {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    font: 14px/18px "Verdana", Times, serif;
    color: #6f6f6f;
    min-width: 1024px;
    background: #262626;
}

.ic {
    border: 0;
    float: right;
    background: #fff;
    color: #f00;
    width: 50%;
    line-height: 10px;
    font-size: 9px;
    margin: -220% 0 0 0;
    overflow: hidden;
    padding: 0;
}

.main {
    width: 1024px;
    margin: 0 auto;
}
/***********************************************************************/
a {
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

.link {
    color: #bf96c7;
    text-decoration: underline;
    font-size: 10px;
}

    .link:hover {
        color: #fff;
        text-decoration: underline;
    }

.link-1 {
    font-size: 10px;
    line-height: 20px;
    color: #fff;
    font-style: italic;
    text-decoration: underline;
    display: inline-block;
}

    .link-1:hover {
        color: #bf96c7;
        text-decoration: underline;
    }

.link-2 {
    color: #fff;
    text-decoration: underline;
}

    .link-2:hover {
        color: #bf96c7;
        text-decoration: underline;
    }

.clr-1 {
    color: #fff;
}

a.clr-1:hover {
    text-decoration: underline;
}

.text-1 {
    font-size: 12px;
    line-height: 25px;
    color: #fff;
    font-style: italic;
}

h2 {
    font-size: 20px;
    line-height: 36px;
    color: #bf96c7;
    font-weight: bold;
    font-style: italic;
}

.h2 {
    border-bottom: #353535 1px solid;
    padding-bottom: 7px;
}

h3 {
    font-size: 28px;
    line-height: 30px;
    color: #bf96c7;
    font-weight: normal;
    font-style: italic;
}

.h3 {
    border-bottom: #353535 1px solid;
    padding-top: 5px;
    padding-bottom: 7px;
}

.h3-2 {
    padding-top: 5px;
    padding-bottom: 17px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-image: none;
}

    ul.list-1 li {
        padding: 0px 0 8px 14px;
        line-height: 18px;
        background: url(../images/marker-1.gif) 0 8px no-repeat;
    }

        ul.list-1 li a {
            font-size: 11px;
            color: #6f6f6f;
            line-height: 25px;
            font-weight: bold;
            text-decoration: underline;
        }

            ul.list-1 li a:hover {
                color: #fff;
                text-decoration: none;
            }

    ul.list-2 li {
        padding: 0px 0 13px 14px;
        line-height: 18px;
        background: url(../images/marker-1.gif) 0 8px no-repeat;
    }

        ul.list-2 li span {
            font-size: 12px;
            color: #6f6f6f;
            line-height: 18px;
        }

            ul.list-2 li span a {
                font-size: 11px;
                color: #fff;
                line-height: 18px;
                font-weight: bold;
                text-decoration: underline;
            }

                ul.list-2 li span a:hover {
                    color: #bf96c7;
                    text-decoration: underline;
                }

    ul.list-3 li {
        padding: 0px 0 26px 0px;
        line-height: 18px;
        overflow: hidden;
    }

        ul.list-3 li span.date {
            display: block;
            float: left;
            background: url(../images/date-bg.png) 15px 0px no-repeat;
            width: 97px;
            font-size: 35px;
            line-height: 60px;
            font-style: italic;
        }

            ul.list-3 li span.date span {
                font-size: 18px;
                line-height: 30px;
                display: inline-block;
                float: left;
                color: #fff;
            }

        ul.list-3 li span.extra-wrap {
            font-size: 11px;
            color: #6f6f6f;
            line-height: 18px;
            display: block;
        }

            ul.list-3 li span.extra-wrap a {
                font-size: 11px;
                color: #bf96c7;
                line-height: 18px;
                text-decoration: underline;
            }

                ul.list-3 li span.extra-wrap a:hover {
                    color: #fff;
                    text-decoration: underline;
                }

/******************************************************************/
.clear {
    clear: both;
    line-height: 0;
    font-size: 0;
    width: 100%;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.wrap {
    overflow: hidden;
    position: relative;
}

.extra-wrap {
    overflow: hidden;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.img-indent {
    float: left;
    margin: 3px 33px 0px 0;
}

.img-indent-2 {
    margin: 3px 0px 23px 0;
}

.last {
    margin-right: 0px !important;
}

.center {
    text-align: center;
}

.upper {
    text-transform: uppercase;
}

.top-1 {
    margin-top: 9px;
}

.left-1 {
    margin-left: 13px;
}

.bot-0 {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.bot-1 {
    margin-bottom: 21px;
}

.bot-2 {
    margin-bottom: 17px;
}

.pad-1 {
    padding-left: 40px;
    padding-right: 40px;
}

.pad-2 {
    padding-left: 40px;
}

.p1 {
    padding-bottom: 18px;
}

.p2 {
    margin-bottom: 10px;
}

.p3 {
    padding-bottom: 20px;
}

.p4 {
    padding-bottom: 13px;
}

.p5 {
    padding-bottom: 6px;
}

/*********************************header*************************************/

.header {
    background: url(../images/bg.jpg) 0 0 repeat;
    position: relative;
    width: 100%;
}

    .header > div {
        position: relative;
        width: 100%;
        background: url(../images/header-line.jpg) 0 bottom repeat-x;
    }

header {
    width: 1024px;
    margin: 0 auto;
    z-index: 1000;
    position: relative;
    background: url(../images/banner.jpg) 0 0 no-repeat;
}

.header .nav {
    position: absolute;
    width: 100%;
    z-index: 999;
    background: url(../images/nav-line.png) 0 bottom repeat-x;
    padding-bottom: 1px;
}

nav {
    background: url(../images/nav.png) 0 0 repeat;
    width: 1024px;
    margin: 3px auto 0 auto;
    position: relative;
}

.subpages-nav {
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 174px;
    background: url(../images/banner.jpg) center 0 no-repeat;
}

    .subpages-nav nav {
        background: transparent !important;
        padding-top: 59px;
        margin-top: 0 !important;
    }

h1 {
    display: inline-block;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 425px;
    z-index: 1000;
}

ul.menu {
    display: inline-block;
    display: block;
    padding: 46px 0 70px 21px;
}

    ul.menu li {
        float: left;
        display: inline-block;
        line-height: 24px;
        background: url(../images/li.png) 0 0 no-repeat;
        padding: 0 34px 0 43px;
    }

        ul.menu li.li-none {
            background: transparent;
        }

        ul.menu li.li-left {
            margin-left: 200px;
        }

        ul.menu li a {
            font-size: 13px;
            line-height: 24px;
            color: #fff;
            display: inline-block;
            letter-spacing: 1px;
            text-shadow: 2px 1px #5F5F5F;
            text-transform: capitalize;
            /*text-decoration: none;
            border-bottom-width: 0;
            text-transform: capitalize;
            font-family: Verdana;
            font-size: 12px;
            letter-spacing: 0.5px;
            text-shadow: 1px 1px #5F5F5F;*/
        }

            ul.menu li a:hover, ul.menu li.current a {
                color: #bf96c7;
            }

/*********************************content*************************************/
#content {
    width: 1024px;
    margin: 0 auto;
    background: url(../images/bg.jpg) 0 0 repeat;
    padding-bottom: 15px;
    border-bottom: #303030 1px solid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 20px;
}

#content-ic {
    width: 1021px;
    margin: 0 auto;
    padding-bottom: 15px;
    border-bottom: #303030 1px solid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #F3F3E6;
    padding-top: 40px;
    background: url(../images/bg.jpg) 0 0 repeat;
}

.img-border {
    border: #474747 4px solid;
    display: inline-block;
}

.gallery-block h2 {
    padding: 26px 0px 16px 0px;
    text-align: center;
}

.gallery-photo {
    border-top: #303030 1px solid;
    border-bottom: #303030 1px solid;
    width: 770px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.page1-row1 {
    overflow: hidden;
    padding-top: 3px;
}

.col-1 {
    float: left;
    width: 190px;
    margin-right: 50px;
}

.col-2 {
    float: left;
    width: 635px;
    margin-right: 60px;
}

.col-3 {
    float: left;
}

.link-1-pad {
    float: right;
    margin-top: 9px;
}

.soc-icons {
    overflow: hidden;
    margin: 0px 0 0 0;
}

    .soc-icons a {
        display: block;
        width: 45px;
        height: 45px;
        float: left;
        margin-right: 2px;
    }

        .soc-icons a:hover img {
            opacity: 0.7;
        }

.adr {
    line-height: 20px;
}

.page2-row1 {
    overflow: hidden;
    padding-top: 26px;
    padding-bottom: 41px;
}

.col-4 {
    float: left;
    width: 570px;
    margin-right: 70px;
}

.col-5 {
    float: left;
    width: 300px;
}

.page2-row2 {
    overflow: hidden;
}

.col-6 {
    float: left;
    width: 570px;
    padding-right: 30px;
    margin-right: 20px;
    border-right: #303030 1px solid;
}

.col-7 {
    float: left;
    width: 320px;
}

.comment {
    background: url(../images/comment-top.png) 0 0 no-repeat;
    padding-left: 20px;
    margin-bottom: 9px;
    width: 270px;
}

    .comment p {
        background: url(../images/comment-bottom.png) right bottom no-repeat;
    }

.page3-row1 {
    overflow: hidden;
    padding-top: 26px;
}

.col-8 {
    float: left;
    width: 170px;
    padding-right: 50px;
}

.col-9 {
    float: left;
    width: 600px;
}

.page4-row1 {
    overflow: hidden;
    padding-top: 26px;
}

.col-10 {
    float: left;
    width: 300px;
    margin-right: 60px;
}

.col-11 {
    float: left;
    width: 580px;
}

.page5-row1 {
    overflow: hidden;
    padding-top: 26px;
}

.col-12 {
    float: left;
    width: 600px;
    margin-right: 79px;
}

.col-13 {
    float: left;
    width: 265px;
}

.page6-row1 {
    overflow: hidden;
    padding-top: 26px;
}

.col-14 {
    float: left;
    width: 270px;
    margin-right: 50px;
}

.col-15 {
    float: left;
    width: 273px;
    margin-right: 89px;
}

.col-16 {
    float: left;
    width: 260px;
}

/* Lightbox image */
.lightbox-image {
    display: inline-block;
    position: relative;
}

    .lightbox-image img.magnify {
        position: absolute;
        width: 0px;
        height: 0px;
        left: 50%;
        top: 50%;
    }
/****************************footer************************/
footer {
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 0px 0 0px 0;
}

    footer span {
        display: inline-block;
        margin: 0 auto;
        border-top: #3c3c3c 1px solid;
        padding-top: 13px;
        line-height: 22px;
    }
/**********************form**********************/
.map {
    width: 265px;
    height: 202px;
    margin-top: 3px;
}

    .map iframe {
        width: 265px;
        height: 202px;
    }

dl {
    margin: 20px 0px 0 0px;
}

    dl dt {
        line-height: 24px;
        margin-bottom: 3px;
    }

    dl dd span {
        width: 62px;
        text-align: right;
        display: block;
        float: left;
        margin-right: 12px;
    }

    dl dd {
    }

        dl dd a {
        }

            dl dd a:hover {
            }

#form {
    padding: 3px 0 0px 0px;
    width: 260px;
}

    #form input {
        border: #3f3f3f 1px solid;
        background: #2c2c2c;
        font-size: 11px;
        font-family: "Times New Roman", Times, serif;
        color: #6f6f6f;
        padding: 4px 10px 5px 10px;
        outline: medium none;
        width: 238px;
        height: 17px;
        float: left;
    }

    #form textarea {
        border: #3f3f3f 1px solid;
        background: #2c2c2c;
        font-size: 11px;
        font-family: "Times New Roman", Times, serif;
        color: #6f6f6f;
        height: 130px;
        outline: medium none;
        overflow: auto;
        padding: 4px 0px 0px 10px;
        width: 248px;
        resize: none;
        margin: 0px 0 0 0;
        float: left;
    }

    #form label {
        position: relative;
        display: block;
        min-height: 37px;
        overflow: hidden;
    }

.btns {
    text-align: right;
    margin-left: 0px;
    overflow: hidden;
}

    .btns a.link-1 {
        display: inline-block;
        margin: 14px 0px 0 25px;
    }

.footer-content {
    width: 1024px;
    margin: 0 auto;
    border-bottom: #303030 1px solid;
    padding-bottom: 8px;
}

.img-logo {
    height: 130px;
    vertical-align: top;
    width: 140px;
}


.lt {
    height: 10px;
    background: #6E6E6E url(lt.gif) no-repeat;
    color: #FFF;
}

.lbox {
    color: #eee;
    padding: 3px 12px;
    margin: 0 0 15px 0;
    background: #6E6E6E url(lb.gif) no-repeat bottom left;
    height: 178px;
}






@charset "utf-8";
/* CSS Document */





.clear {
    clear: both;
}
/*wrapper and container*/
#wrapper {
    width: 1100px;
    margin: 0 auto;
}

#container {
    margin: 0 auto;
    width: 980px;
    height: auto;
}

/*left contentbox*/
#ltcontent {
    float: left;
    width: 300px;
}

/*right contentbox*/
#rtcontent {
    float: right;
    width: 1010px;
    margin-bottom: 30px;
}


.publish {
    margin-top: 46px;
    font: 14px Tahoma, Geneva, sans-serif;
    color: #5c3315;
    text-transform: uppercase;
}

.head {
    font: 40px Verdana, Geneva, sans-serif;
    color: #FFF;
    margin-top: -10px;
    margin-bottom: 20px;
}

.tagln {
    margin-top: 30px;
    font: 12px Tahoma, Geneva, sans-serif;
    color: #5c3315;
    text-transform: uppercase;
    line-height: 23px;
}

.italics {
    font-style: italic;
    text-transform: none;
}

/*menulinks*/
#menulinks ul {
    list-style: none;
    margin-top: 15px;
    height: 40px;
    float: left;
    width: 550px;
    margin-left: 0px;
}

#menulinks li {
    display: inline;
    float: left;
    width: 87px;
    margin-right: 60px;
    text-align: center;
    background-color: #FFF;
    margin-left: -40px;
    text-transform: uppercase;
}

.scrcast {
    width: 152px;
    background-color: #FFF;
}

#menulinks a {
    display: block;
    font: 18px Tahoma, Geneva, sans-serif;
    color: #5c3315;
    text-decoration: none;
    line-height: 30px;
}

    #menulinks a:hover {
        display: block;
        background-color: #fff;
        text-decoration: none;
        line-height: 30px;
        border-bottom: 5px solid #689e18;
        color: #5c3315;
    }

.clear {
    clear: both;
}

/*right content details*/
.document {
    min-height: 343px;
    background-color: #fff;
    width: 670px;
    float: left;
    padding-bottom: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.dochead {
    background-color: #bf96c7;
    height: 45px;
    font: 24px Tahoma, Geneva, sans-serif;
    color: #FFF;
    display: inline-block;
    margin-left: -10px;
    padding-right: 10px;
}

.dochead2 {
    background-color: #bf96c7;
    height: 45px;
    font: 24px Tahoma, Geneva, sans-serif;
    color: #FFF;
    display: inline-block;
    padding-right: 10px;
    margin-left: 612px;
}

.dochead span {
    margin-left: 24px;
    padding-right: 12px;
}

.dhead {
    line-height: 45px;
}

.dhead2 {
    line-height: 45px;
    padding-left: 16px;
}

.post {
    color: #656565;
    font: 12px Tahoma, Geneva, sans-serif;
    line-height: 30px;
    margin-left: 15px;
}

.dcontent {
    font: 16px Tahoma, Geneva, sans-serif;
    color: #1f1e1e;
    margin-top: 20px;
    line-height: 20px;
    margin-left: 15px;
    width: 610px;
    float: left;
    font-size: 13px;
}

.rtboxbg {
    background: url(../images2/rtboxbg1.jpg) repeat-x;
    height: 1px;
    width: 670px;
}

.sosial {
    background: url(../images2/sosial.png);
    height: 10px;
    width: 200px;
    float: left;
    padding-top: 10px;
    margin-top: 15px;
    margin-left: 16px;
}
/*green bubble*/
.bubble {
    background: url(../images2/bubble.png) no-repeat bottom right;
    height: 39px;
    margin-right: 15px;
    margin-top: 65px;
}

    .bubble span {
        margin-right: 15px;
        text-align: center;
        color: #FFF;
        font: 12px Tahoma, Geneva, sans-serif;
        font-weight: bold;
        line-height: 30px;
    }

.gap {
    margin-top: 40px;
}

.ltgap {
    margin-top: 20px;
}

#about {
    width: 310px;
    background-color: #d5d1bf;
    margin-left: 24px;
    margin-top: 15px;
    height: 220px;
}

#mostpop {
    width: 310px;
    background-color: #d5d1bf;
    margin-left: 24px;
    margin-top: 15px;
    height: 240px;
}

/*left content box*/
.lthead {
    font: 18px Tahoma, Geneva, sans-serif;
    color: #5c3315;
    line-height: 50px;
    text-transform: uppercase;
    height: 52px;
    border-bottom: 1px dashed #b7b4a3;
    width: 280px;
    margin-left: 15px;
}

.tphead {
    margin-left: -15px;
}

.ltdetail {
    font: 14px Tahoma, Geneva, sans-serif;
    color: #413e32;
    font-weight: bold;
    line-height: 20px;
    margin-top: 15px;
    width: 240px;
    margin-left: 15px;
}

.link {
    width: 280px;
    background-color: #999580;
    margin-top: 15px;
    margin-left: 15px;
    height: 38px;
    text-align: center;
    font: 20px Tahoma, Geneva, sans-serif;
    color: #fff;
    text-transform: uppercase;
    line-height: 35px;
}

.ltposts ul {
    float: left;
    list-style: none;
}

.ltposts li a, a:link {
    font: 14px Tahoma, Geneva, sans-serif;
    color: #413e32;
    line-height: 30px;
    font-weight: bold;
}

    .ltposts li a:hover {
        font: 14px Tahoma, Geneva, sans-serif;
        color: #413e32;
        line-height: 30px;
        font-weight: bold;
        text-decoration: underline;
    }

.rtposts ul {
    float: right;
    list-style: none;
    margin-right: 74px;
    width: 70px;
}

.rtposts li a, a:link {
    font: 14px Tahoma, Geneva, sans-serif;
    color: #413e32;
    line-height: 30px;
    font-weight: bold;
}

    .rtposts li a:hover {
        font: 14px Tahoma, Geneva, sans-serif;
        color: #413e32;
        line-height: 30px;
        font-weight: bold;
        text-decoration: underline;
    }

#search {
    width: 310px;
    height: 54px;
    background-color: #d5d1bf;
    margin-left: 24px;
}

.input {
    margin-left: 15px;
    line-height: 55px;
}

.ltdetail ul {
    list-style: url(../images2/feeds.jpg);
    width: 310px;
}

.ltdetail li a, a:link {
    font: 14px Tahoma, Geneva, sans-serif;
    color: #413e32;
    font-weight: bold;
    text-decoration: none;
    line-height: 30px;
}

    .ltdetail li a:hover {
        font: 14px Tahoma, Geneva, sans-serif;
        color: #5c3315;
        text-decoration: underline;
        line-height: 30px;
        font-weight: bold;
    }

#feeds {
    height: 140px;
    background-color: #d5d1bf;
    width: 310px;
    margin-left: 24px;
    margin-top: 15px;
}

#social {
    height: 140px;
    background-color: #d5d1bf;
    width: 310px;
    margin-left: 24px;
    margin-top: 15px;
}

    #social img {
        margin-top: 30px;
        margin-left: 25px;
        margin-right: 5px;
    }

#features {
    margin-top: 30px;
}

#tranbox {
    float: left;
    margin-left: 24px;
    width: 360px;
    background: url(../images2/ltfeature.jpg) no-repeat;
    background-color: #689e18;
    height: 360px;
}

.tranhead {
    font: 24px Tahoma, Geneva, sans-serif;
    color: #FFF;
    margin-left: 10px;
    margin-top: 25px;
}

.trapost {
    color: #fff;
    font: 12px Tahoma, Geneva, sans-serif;
    margin-left: 14px;
    line-height: 25px;
}

.tracontent {
    font: 12px Tahoma, Geneva, sans-serif;
    color: #fff;
    margin-top: 10px;
    line-height: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

#video {
    float: right;
    width: 600px;
    height: 360px;
    background-color: #FFF;
    background: url(../images2/rtfeature.jpg) no-repeat;
    margin-right: 46px;
}

    #video img {
        margin-top: 25px;
        margin-left: 30px;
    }

.searchBut {
    border: 1px solid #333;
    background: #999580;
}

    .searchBut:hover {
        border: 1px solid #333;
        background: #ccc;
    }

/*footer*/
#footer {
    border-top: 1px dashed #b7b4a3;
    margin-top: 70px;
    background-color: #ebe8d9;
    height: 95px;
    margin-left: 25px;
    margin-right: 45px;
}

.copy {
    margin-left: 14px;
    float: left;
    font: 12px Tahoma, Geneva, sans-serif;
    color: #6b664f;
    line-height: 50px;
}

.flinks {
    float: right;
    line-height: 50px;
    width: 600px;
    text-align: right;
}

    .flinks a, a:link {
        font: 12px Tahoma, Geneva, sans-serif;
        color: #6b664f;
        text-decoration: none;
        cursor: pointer;
    }

        .flinks a:hover {
            font: 12px Tahoma, Geneva, sans-serif;
            color: #6b664f;
            text-decoration: underline;
        }

.separator {
    color: #6b664f;
}

.textbox {
    width: 190px;
    border: none;
    padding: 2px;
    color: #444;
}


.blog-img-dv {
    width: 310px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}


.blog-img {
    width: 311px;
    height: 338px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: solid;
    border-color: white;
    border-width: 6px;
}

.dv-sosial {
    margin-left: 60px;
    margin-right: 35px;
    float: left;
    margin-top: -23px;
    border: solid;
    border-width: 1px;
    border-collapse: collapse;
    border-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    padding-bottom: 10px;
    width: 225px;
}

.about-img-dv1 {
    width: 320px;
    margin-left: 10px;
    margin-right: -20px;
    float: left;
    margin-top: 0px;
}

.about-img-dv2 {
    width: 320px;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    margin-top: -5px;
}

.about-img1 {
    width: 270px;
    height: 200px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: solid;
    border-color: white;
    border-width: 6px;
}

.about-img2 {
    width: 310px;
    height: 320px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: solid;
    border-color: white;
    border-width: 6px;
}

.about-content2 {
    float: left;
    font: 13px Tahoma, Geneva, sans-serif;
    color: #1f1e1e;
    width: 910px;
    line-height: 20px;
    margin-top: 15px;
    margin-left: 16px;
}

.about-content3 {
    float: left;
    font: 13px Tahoma, Geneva, sans-serif;
    color: #1f1e1e;
    width: 980px;
    line-height: 20px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 25px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #E0CECE;
}

.about-img-galery {
    margin-left: 63px;
}

.plus {
    width: 155px;
    border: #3f3f3f 1px solid;
    padding: 6px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

    .plus:hover {
        opacity: 0.4;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }
