@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container">
    <div class="head">Hakkımda</div>

  
        <div id="rtcontent">
            <div class="document" style="width: 1000px;">
                
                <div class="dcontent">
                  adam
                </div>
               
            </div>
            <!--documentary ends-->
           
        </div>
           
      
    <div class="clear"></div>
</div>
