@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="post_box top" id="post-248">
				<div class="format_text">
<h4><em><span style="color: #000000;"><strong>“Painting is an illusion. Art is inside”</strong></span></em></h4>
<p>ALVARO CASTAGNET was born in Montevideo, in the beautiful South American country of Uruguay. His early interest in art was cultivated mainly by his father, who sent him to the National School of Art in Montevideo at a very young age where he was taught by Professor Esteban Garino. Castagnet carried on his formal education in art at the Fine Arts University, where Miguel Angel Pareja was his oil painting tutor.</p>
<table style="width: 950px; height: 628px;" border="0">
<tbody>
<tr>
<td style="height: 535px;" align="center" valign="top"><a href="http://www.alvarocastagnet.net/wp-content/uploads/2010/08/a-real-Scot.jpg" class="cboxElement"><img class="size-full wp-image-260 colorbox-248" style="width: 300px; height: 535px; margin: 10px;" title="a real Scot!" src="http://www.alvarocastagnet.net/wp-content/uploads/2010/08/a-real-Scot.jpg" alt="Alvaro Castagnet may just be a real Scot" width="300" height="535" align="middle" border="" hspace="10" vspace="10"></a></td>
<td style="height: 535px;" align="center" valign="top"><a href="http://www.alvarocastagnet.net/wp-content/uploads/2010/09/DSC_0100.jpg" class="cboxElement"><img class="size-full wp-image-733 colorbox-248" style="width: 355px; height: 535px; margin: 10px;" title="Alvaro Castagnet relaxing in his studio" src="http://www.alvarocastagnet.net/wp-content/uploads/2010/09/DSC_0100.jpg" alt="Alvaro Castagnet relaxing in his studio" width="355" height="535" align="middle" hspace="10" vspace="10"></a></td>
</tr>
<tr>
<td align="center" valign="top"><em>A real Scot?: In Scotland</em></td>
<td align="center" valign="top"><em>Relaxing in the studio</em></td>
</tr>
</tbody>
</table>
<p>Castagnet migrated to Australia in 1983, and lived there enjoying the cosmopolitan and forward-looking attitude of that country for 20 years. Alvaro Castagnet is fluent in Spanish, Italian, and English and currently lives in Montevideo, Uruguay. Castagnet has been holding solo exhibitions since 1985, and has been recognised with dozens of awards over the last 30 years.</p>
<table style="width: 904px; height: 229px;" border="0">
<tbody>
<tr>
<td style="width: 300px;" align="center" valign="top"><a href="http://www.alvarocastagnet.net/wp-content/uploads/2010/08/Al-playing-Scotland.jpg" class="cboxElement"><img class="size-medium wp-image-261 colorbox-248" title="Alvaro football crazy, playing football in Scotland" src="http://www.alvarocastagnet.net/wp-content/uploads/2010/08/Al-playing-Scotland-300x191.jpg" alt="Alvaro playing football in Scotland" width="300" height="191"></a></td>
<td style="width: 300px;" valign="top">
<p style="margin-left: 40px;">Castagnet writes articles for many international artist publications worldwide. Alvaro travels around the world, painting, demonstrating, lecturing, and judging art competitions also guest-attending exhibitions of his work. He is the author of the out-of-print, “Watercolor Painting with Passion”, Alvaro is featured in innumerable art books, videos, DVDs and acclaimed international art publications.His main studio is located in Montevideo, Uruguay. He lives with his wife, Ana Maria &amp; their teenagers sons, Gaston &amp; Calvin.</p>
</td>
</tr>
<tr>
<td style="text-align: center; width: 300px;" align="center" valign="top"><em>Football Crazy: Alvaro at play</em></td>
<td style="width: 300px;" align="center" valign="top"></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table style="width: 880px; height: 349px;" border="0">
<tbody>
<tr>
<td align="center" width="324"><a href="http://www.alvarocastagnet.net/wp-content/uploads/2010/08/familyphoto.jpg" class="cboxElement"><img class="size-full wp-image-476 colorbox-248" title="The Castagnet Family, Alvaro, Ana and the kids" src="http://www.alvarocastagnet.net/wp-content/uploads/2010/08/familyphoto.jpg" alt="The Castagnet Family, Alvaro, Ana and the kids" width="320" height="240"></a></td>
<td align="center" width="304"><a href="http://www.alvarocastagnet.net/wp-content/uploads/2010/09/IMG_0005.jpg" class="cboxElement"><img class="size-medium wp-image-566 colorbox-248" title="Alvaro &amp; Calvin passionate about the Uruguay Football team" src="http://www.alvarocastagnet.net/wp-content/uploads/2010/09/IMG_0005-224x300.jpg" alt="Alvaro &amp; Calvin passionate about the Uruguay Football team" width="224" height="300"></a></td>
</tr>
<tr>
<td align="center" width="324"><em>Family Photo, all together</em></td>
<td align="center" width="304"><em>Alvaro &amp; Calvin passionate about both football and Uruguay</em></td>
</tr>
<tr>
<td align="center" width="324"></td>
<td align="center" width="304"></td>
</tr>
<tr>
<td align="center" width="324"></td>
<td align="center" width="304"></td>
</tr>
</tbody>
</table>
<p><span class="st_facebook" st_title="What drives me.." st_url="http://www.alvarocastagnet.net/about/" st_processed="yes"><span style="text-decoration: none; color: rgb(0, 0, 0); display: inline-block; cursor: pointer; padding-left: 0px; padding-right: 0px; width: 16px;" class="stButton"><span class="chicklets facebook">&nbsp;</span><img src="http://w.sharethis.com/images/check-small.png" style="position: absolute; top: -6px; right: -7px; width: 13px; height: 13px; max-width: 13px; max-height: 13px; display: none;"></span></span><span class="st_twitter" st_title="What drives me.." st_url="http://www.alvarocastagnet.net/about/" st_processed="yes"><span style="text-decoration: none; color: rgb(0, 0, 0); display: inline-block; cursor: pointer; padding-left: 0px; padding-right: 0px; width: 16px;" class="stButton"><span class="chicklets twitter">&nbsp;</span><img src="http://w.sharethis.com/images/check-small.png" style="position: absolute; top: -6px; right: -7px; width: 13px; height: 13px; max-width: 13px; max-height: 13px; display: none;"></span></span><span class="st_email" st_title="What drives me.." st_url="http://www.alvarocastagnet.net/about/" st_processed="yes"><span style="text-decoration: none; color: rgb(0, 0, 0); display: inline-block; cursor: pointer; padding-left: 0px; padding-right: 0px; width: 16px;" class="stButton"><span class="chicklets email">&nbsp;</span><img src="http://w.sharethis.com/images/check-small.png" style="position: absolute; top: -6px; right: -7px; width: 13px; height: 13px; max-width: 13px; max-height: 13px; display: none;"></span></span><span class="st_sharethis" st_title="What drives me.." st_url="http://www.alvarocastagnet.net/about/" st_processed="yes"><span style="text-decoration: none; color: rgb(0, 0, 0); display: inline-block; cursor: pointer; padding-left: 0px; padding-right: 0px; width: 16px;" class="stButton"><span class="chicklets sharethis">&nbsp;</span><img src="http://w.sharethis.com/images/check-small.png" style="position: absolute; top: -6px; right: -7px; width: 13px; height: 13px; max-width: 13px; max-height: 13px; display: none;"></span></span><span class="st_fblike" st_title="What drives me.." st_url="http://www.alvarocastagnet.net/about/" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;position:relative;margin:3px 3px 0;padding:0px;font-size:11px;line-height:0px;vertical-align:bottom;overflow:visible;top:1px;margin-top:0px;"><div data-action="" data-send="false" data-layout="button_count" data-show-faces="false" class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-href="http://www.alvarocastagnet.net/about/" fb-xfbml-state="parsed"><span style="height: 21px; width: 90px;"><iframe id="f177cc139" name="f1136ea39" scrolling="no" title="Like this content on Facebook." class="fb_ltr" src="http://www.facebook.com/plugins/like.php?api_key=&amp;channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D27%23cb%3Df30b08131c%26domain%3Dwww.alvarocastagnet.net%26origin%3Dhttp%253A%252F%252Fwww.alvarocastagnet.net%252Ff130547c38%26relation%3Dparent.parent&amp;colorscheme=light&amp;extended_social_context=false&amp;href=http%3A%2F%2Fwww.alvarocastagnet.net%2Fabout%2F&amp;layout=button_count&amp;locale=en_US&amp;node_type=link&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=90" style="border: none; overflow: hidden; height: 21px; width: 90px;"></iframe></span></div></span></span><span class="st_plusone" st_title="What drives me.." st_url="http://www.alvarocastagnet.net/about/" st_processed="yes"><div style="display:inline-block;overflow:hidden;line-height:0px;position:relative;vertical-align:middle;bottom:0px;width:36px; height:16px;">&nbsp;<div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 24px; height: 15px; background-position: initial initial; background-repeat: initial initial;"><iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 24px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 15px;" tabindex="0" vspace="0" width="100%" id="I0_1381657357733" name="I0_1381657357733" src="https://apis.google.com/u/0/_/+1/fastbutton?usegapi=1&amp;bsv=o&amp;size=small&amp;count=false&amp;hl=en-US&amp;origin=http%3A%2F%2Fwww.alvarocastagnet.net&amp;url=http%3A%2F%2Fwww.alvarocastagnet.net%2Fabout%2F&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.tr.fUxH5bj5gIA.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAItRSTOQc31gHuwSaX7LAiR6hGEgTRAHag#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh&amp;id=I0_1381657357733&amp;parent=http%3A%2F%2Fwww.alvarocastagnet.net&amp;pfname=&amp;rpctoken=26457152" data-gapiattached="true" title="+1"></iframe></div></div></span><span class="st_pinterest" st_title="What drives me.." st_url="http://www.alvarocastagnet.net/about/" st_processed="yes"><span style="text-decoration: none; color: rgb(0, 0, 0); display: inline-block; cursor: pointer; padding-left: 0px; padding-right: 0px; width: 16px;" class="stButton"><span class="chicklets pinterest">&nbsp;</span><img src="http://w.sharethis.com/images/check-small.png" style="position: absolute; top: -6px; right: -7px; width: 13px; height: 13px; max-width: 13px; max-height: 13px; display: none;"></span></span></p>				</div>
			</div>
