@{
    ViewBag.Title = "Index";
}
@section scripts
{
    <script src="~/Scripts/Services/GalleryService.js"></script>
    <script src="~/Scripts/Controllers/GalleryController.js"></script>
}
<div ng-controller="GalleryController">
    <ul>
        <li ng-repeat="album in albums"><a href="/Gallery/Album/{{album.Id}}">
            <img src="/Content/images/Gallery/{{album.CoverImagePath}}" />
        </a>
        </li>
    </ul>
</div>
