@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page3-row1">
    <div class="col-8">
        <h2 class="h2 p2">Categories:</h2>
        <ul class="list-1 nav">
            <li class="selected"><a href="#tab-1">Fashion</a></li>
            <li><a href="#tab-2">Animals</a></li>
            <li><a href="#tab-3">Landscapes</a></li>
            <li><a href="#tab-4">Sport</a></li>
            <li><a href="#tab-5">Portrait</a></li>
            <li><a href="#tab-6">Wedding</a></li>
            <li><a href="#tab-7">Urban</a></li>
        </ul>
    </div>
    <div class="col-9">
        <h3 class="h3-2">Fashion:</h3>
        <div id="tab-1" class="tab-content gallery-photo">
            <div class="inner">
                <ul id="mycarousel-1" class="jcarousel-skin-tango">

                    <li>
                        <a href="/Content/images/portfolio-5-big.jpg">
                            <img src="/Content/images/portfolio-5.jpg" alt="" class="plus"></a>
                        <a href="/Content/images/portfolio-6-big.jpg">
                            <img src="/Content/images/portfolio-6.jpg" alt="" class="plus"></a>
                        <a href="/Content/images/portfolio-7-big.jpg">
                            <img src="/Content/images/portfolio-7.jpg" alt="" class="plus"></a>
                        <a href="/Content/images/portfolio-8-big.jpg">
                            <img src="/Content/images/portfolio-8.jpg" alt="" class="plus"></a>
                    </li>


                </ul>
            </div>
        </div>
    </div>
</div>
